## Gradle
.gradle
*/build/
.gradle/ 
**/.gradle/*
.MF

## Java, Scala
*.class
*.log

# Package Files
*.war
*.ear
*.original

## IDEs

# Intellij
*.iml
*.ipr
*.iws
.idea
out

# Eclipse
.classpath
.project
.settings

## OS files
.DS_Store

*.properties
